{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container w-25 d-flex flex-column justify-content-center form-block">
        <h1>Регистрация</h1>
        {{ form(registrationForm) }}
    </div>
{% endblock %}