README.md
.idea
.gitignore

# docker-files
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.local.yml
/docker/

# framework-bundle
/vendor/
/public/bundles/
/var/

# webpack-encore-bundle
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
