README.md
.idea
.gitignore

/app/.gitignore

# framework-bundle
/app/vendor/
/app/public/bundles/
/app/var/

# webpack-encore-bundle
/app/node_modules/
/app/public/build/
/app/npm-debug.log
/app/yarn-error.log
