{% extends 'base.html.twig' %}

{% block title %}HeadHeaders!{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1 class="main-page-header w-75">HeadHeaders</h1>

        <div class="d-flex justify-content-between w-75">
            {% if not app.user %}
                <a class="btn btn-lg btn-primary w-100 me-4" href="{{ path('app_register_seeker') }}"> Я ищу работу </a>
                <a class="btn btn-lg btn-primary w-100" href="{{ path('app_register_recruiter') }}"> Я ищу сотрудника </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
