{% extends 'base.html.twig' %}

{% block title %}
    {% if my_resumes is defined %}
        Мои резюме
        {% else %}
        Просмотр резюме
    {% endif %}
{% endblock %}

{% block body %}
    <div class="p-3 mb-3 container-sm">
        <h1 class="pb-3">{{ block('title') }}</h1>
        <div class="d-flex justify-content-between">
            <div class="w-50">
                {% for resume in resumes|sort((a,b) => a.skills|length <=> b.skills|length)|reverse%}
                    {% include 'resume/resumeFullCard.html.twig' with {'resume': resume} %}
                {% endfor %}
            </div>

            {% if search_form is defined %}
                {% include 'elements/search.html.twig' with {'search_form': search_form} %}
            {% endif %}
        </div>
    </div>
{% endblock %}