--
-- PostgreSQL database dump
--

-- Dumped from database version 14.6
-- Dumped by pg_dump version 14.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.admin (id, username, roles, password) FROM stdin;
1	admin	["ROLE_ADMIN"]	$2y$13$oS4mNCXzuJ5FRV99Y8V1Be9cYxahO4ZutNAXANAWEc4A0WVBhATya
\.


--
-- Data for Name: company; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.company (id, name) FROM stdin;
1	╨Ф╨Р╨Ы╨Х╨Х
2	╨п╨╜╨┤╨╡╨║╤Б
\.


--
-- Data for Name: doctrine_migration_versions; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: messenger_messages; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.messenger_messages (id, body, headers, queue_name, created_at, available_at, delivered_at) FROM stdin;
\.


--
-- Data for Name: recruiter; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: seeker; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: resume; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: skill; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.skill (id, name) FROM stdin;
4	PHP
5	HTML
6	CSS
7	Symfony
8	╨Ю╨Ю╨Я
\.


--
-- Data for Name: resume_skill; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.resume_skill (resume_id, skill_id) FROM stdin;
7	8
7	4
7	5
8	4
8	5
8	6
8	7
8	8
9	5
9	7
9	6
11	8
9	4
\.


--
-- Data for Name: vacancy; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: resume_vacancy; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.resume_vacancy (resume_id, vacancy_id) FROM stdin;
9	3
8	5
11	3
7	5
9	5
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: vacancy_resume; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.vacancy_resume (vacancy_id, resume_id) FROM stdin;
2	7
4	7
5	11
6	7
3	11
3	8
\.


--
-- Data for Name: vacancy_skill; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.vacancy_skill (vacancy_id, skill_id) FROM stdin;
2	6
2	8
2	7
3	4
3	5
3	6
3	7
3	8
4	4
4	5
4	6
5	4
5	5
5	6
5	7
5	8
6	8
8	4
8	5
8	8
\.


--
-- Name: admin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.admin_id_seq', 1, true);


--
-- Name: company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.company_id_seq', 2, true);


--
-- Name: messenger_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.messenger_messages_id_seq', 1, false);


--
-- Name: recruiter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.recruiter_id_seq', 5, true);


--
-- Name: resume_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.resume_id_seq', 11, true);


--
-- Name: seeker_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.seeker_id_seq', 11, true);


--
-- Name: skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.skill_id_seq', 8, true);


--
-- Name: vacancy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.vacancy_id_seq', 8, true);


--
-- PostgreSQL database dump complete
--

