{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="p-3 mb-3 container-sm">
        <h1 class="pb-3">{{ block('title') }}</h1>

        {% if 'ROLE_SEEKER' in app.user.roles %}
            {% for resume in resumes %}
                {% for vacancy in resume.invites|sort((a,b) => a.salary <=> b.salary)|reverse %}
                    <div class="card w-50 mb-3">
                        <div class="card-body">
                            {% if vacancy in resume.invites %}
                                {% set show_contacts_to_seeker = true %}
                            {% endif %}
                            {% include 'vacancy/vacancyShortInfo.html.twig' %}

                            <hr class="my-3"/>

                            {% include 'resume/resumeShortInfo.html.twig' %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

        {% elseif 'ROLE_RECRUITER' in app.user.roles %}
            {% for vacancy in vacancies %}
                {% for resume in vacancy.invitedResumes|sort((a,b) => a.salary <=> b.salary) %}
                    <div class="card w-50 mb-3">
                        <div class="card-body">

                            {% include 'vacancy/vacancyShortInfo.html.twig' %}

                            <hr class="my-3"/>

                            {% if resume in vacancy.replies %}
                                {% set show_contacts_to_recruiter = true %}
                            {% endif %}
                            {% include 'resume/resumeShortInfo.html.twig' %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
