{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="p-3 mb-3 container-sm w-50">
        <h1 class="pb-3">{{ block('title') }}</h1>

        {% if role == 'seeker' %}
            {% for resume in resumes %}
                {% for vacancy in resume.invites|sort((a,b) => a.salary <=> b.salary)|reverse %}
                    {% include '_object_card_small.html.twig' with {'object': vacancy} %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% if role == 'recruiter' %}
            {% for vacancy in vacancies %}
                {% for resume in vacancy.invites|sort((a,b) => a.salary <=> b.salary) %}
                    {% include '_object_card_small.html.twig' with {'object': resume} %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
