{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container w-25 d-flex flex-column justify-content-center form-block">
        {{ form(vacancy_form) }}
    </div>
{% endblock %}