{% extends 'base.html.twig' %}

{% block title %}
    {% if my_vacancies is defined %}
        Мои вакансии
    {% else %}
        Просмотр вакансий
    {% endif %}
{% endblock %}

{% block body %}
    <div class="p-3 mb-3 container-sm">
        <h1 class="pb-3">{{ block('title') }}</h1>

        <div class="d-flex justify-content-between">
            <div class="w-50">
                {% for vacancy in vacancies|sort((a,b) => a.salary <=> b.salary)|reverse %}
                    {% include 'vacancy/vacancyFullCard.html.twig' with {'vacancy': vacancy} %}
                {% endfor %}
            </div>

            {% if search_form is defined %}
                {% include 'elements/search.html.twig' with {'search_form': search_form} %}
            {% endif %}
        </div>

    </div>
{% endblock %}